.card-light {
    border-radius: 0;
    border-width: 2px;
    /*background-color: #d8dbde;*/
    transition: all 0.3s ease;
    border: none;
    margin-left: 10px;
}

.card-light:hover {
    box-shadow: 0px 10px 40px 0px rgba(0, 0, 0, 0.08);
    /*background-color: #eef1f5;*/
    cursor: pointer;
    opacity: 0.8;
    /*margin-left: 20px;*/
}

.card-light:hover .card-light-title, .card-light:hover .card-light-title > a {
    color: var(--0167-de, #0167DE) !important;
}

.card-light:hover .card-light-text {
    color: #3a4042;
}

.card-light-title,
.card-light-text {
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
}


.card-light-text {
    font-size: 14px;
    font-weight: normal;
    line-height: 1.57;
    color: #343a40;
    margin-bottom: 0px;
}

.card-light-title {
    /*font-family: Roboto;*/
    font-size: 18px;
    font-weight: 500;
    line-height: 1.5;
    color: var(--Style, #E3000F);
    margin-bottom: 0px;
}