body,
text {
    font-family: 'Montserrat', sans-serif !important;
}

body{
    background-color: #F2F2F2;
    color: var(--31313C, #31313C);
    padding-bottom: 50px;
}
nav.navbar{
    background: #fff;
    padding: 25px 0;
}
nav.navbar .phone_header{
    position:relative;
}
nav.navbar .phone_header .merhelp_file{
    position:absolute;
    right: -48px;
    top: 22%;
    z-index: 10;
}
nav.navbar .phone_header .merhelp_file img{
    display: block !important;
    width: 33px;
}
footer {
    background-color: #F8F8F9;
}
.search_wrapper {
    max-width: 600px;
}
h1{
    color: var(--31313C);
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -1px;
}
/*#accordion .collapse.show{
    display: flex;
    flex-wrap: wrap;
}*/

.card {
    border: none;
    /*border-top: 2px solid #C4C8D4;*/
    background: none;
    transition: all 0.3s ease;
    /*margin-top: 24px;*/
    padding-top: 20px;
}
#accordion #collapse0{
    border-top: 2px solid #C4C8D4;
    padding-top: 40px;
}

.card:hover {
    /*box-shadow: 3px 3px 17px 0 rgba(0, 0, 0, 0.17);
    background-color: #7f8b97;*/
    cursor: pointer;
}

.card:hover .card-title {
    color: #7b7b85;
}

.card:hover .card-text {
    color: #686c6e;
}

input#search,
h2,
span.small,
.card-title,
.card-text {
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
}

h2,
span.small,
.card-title {
    color: #343a40;
    cursor: pointer;
}

.navbar-brand-title {
    margin-left: 76px;
}
.navbar-brand-title a{
    color: var(--ff-0-f-00, #E3000F);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration-line: underline;
}

hr {
    border: solid 1px #afb5b9;
}
.block-cursor{
    cursor: no-drop !important;
}
.card-text {
    font-size: 14px;
    font-weight: normal;
    line-height: 1.57;
    color: #afb5b9;
}

.card-title {
    color: var(--31313C, #31313C);
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -1px;
}

h2 {
    font-size: 30px;
    font-weight: normal;
    line-height: 1.33;
    cursor: default;
}

span.small {
    opacity: 0.6;
    font-size: 12px;
    font-weight: normal;
    line-height: 1.5;
}
#accordion .js_arrow_top{
    transform: rotate(0deg);
}
.navbar-brand {
    /*font-family: Roboto;*/
    font-size: 20px;
    font-weight: 300;
    font-style: normal;
    font-stretch: condensed;
    line-height: normal;
    letter-spacing: normal;
    color: #9aa3a7;
    cursor: default;
    display: flex;
}

.navbar-brand-title {
    margin-top: 4px;
}
.navbar-brand-title, a:hover {
    text-decoration: none;
}

.collapse.show, .collapsing{
    display: flex;
    flex-wrap: wrap;
}
#accordion .card-body {
    display: flex;
    justify-content: flex-start;
}
#accordion .card > .card-body{
    padding-left: 0;
}
#accordion .card-body h5.card-title.d-inline-block{
    margin-bottom: 0;
    margin-right: 30px;
}
#accordion .collapsed .js_arrow_top{
    transform: rotate(180deg);
}
#accordion .card-light  {
    margin-left: 0;
}
#accordion .card-light .card-body {
    padding: 40px 30px 40px 40px;
}
#accordion .card-light .card-body img.icon_category{
    margin-right: 20px;
}
#accordion .card-light .card-body.detail_wrapper{
    padding: 0;
}
#accordion .card-light .card-body.detail_wrapper img{
    width: 80px;
}
#accordion .card-light .card-body.detail_wrapper .card-light-title {
    width: 100%;
}
#accordion .card-light .card-body.detail_wrapper .card-light-title > a{
    display: flex;
    /*flex-wrap: wrap;*/
    width: 100%;
    align-items: center;
    background: #fff;
    color: var(--Style, #E3000F);
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 110%;
    letter-spacing: -0.18px;
    border-radius: 0;
    border: none;
    outline: none;
    position: relative;
    padding-right: 53px;
}
#accordion .card-light .card-body.detail_wrapper .card-light-title > a span{
    text-align: left;
}
#accordion .card-light .card-body.detail_wrapper .card-light-title > a::after{
    content: url('../img/arrow.svg');
    position: absolute;
    right: 12px;
    transform: rotateX(180deg);
}
#accordion .card-light .card-body.detail_wrapper .card-light-title > a.collapsed::after{
    transform: rotateX(0deg);
}
#accordion .card-light .card-body.detail_wrapper .card-light-title > a:hover,#accordion .card-light .card-body.detail_wrapper .card-light-title > a:focus{
    border: none;
    outline: none;
    box-shadow: none;
}
#accordion .card-light .card-body.detail_wrapper .detail_links_wrapper, #accordion .card-light .card-body.detail_one_wrapper{
    background: #fff;
}
#accordion .card-light .card-body .detail_links_wrapper .card.card-body{
    padding: 30px;
}
#accordion .card-light .card-body .detail_links_wrapper .card.card-body ul{
    padding-left: 0;
    list-style: none;
    margin-bottom: 0;
}
#accordion .card-light .card-body .detail_links_wrapper .card.card-body ul li{
    position: relative;
    padding-left: 16px;
    margin-bottom: 12px;
    line-height: initial;
}
#accordion .card-light .card-body .detail_links_wrapper .card.card-body ul li:last-child{
    margin-bottom: 0;
}
#accordion .card-light .card-body .detail_links_wrapper .card.card-body ul li::before{
    content: '';
    width: 4px;
    height: 4px;
    background: #E3000F;
    position: absolute;
    top: 13px;
    left: 0;
}
#accordion .card-light .card-body .detail_links_wrapper .card.card-body ul li a{
    color: var(--31313C, #31313C);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 110%;
    letter-spacing: -0.14px;
    text-decoration-line: underline;
}
#accordion .card-light .card-body .detail_links_wrapper .card.card-body ul li a:hover{
    color: var(--0167-de, #0167DE);
}
#accordion .card-light .card-body .detail_links_wrapper .card.card-body .more_wrapper{
    text-align: center;
    margin-top: 44px;
    margin-bottom: 0;
}
#accordion .card-light .card-body .detail_links_wrapper .card.card-body .more_wrapper a{
    border-radius: 5px;
    background: #D2D3D6;
    color: #000;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: 10px 30px;
    border: none;
    box-shadow: none;
    transition: 0.3s;
}
#accordion .card-light .card-body .detail_links_wrapper .card.card-body .more_wrapper a:hover{
    background: #aeaeaf;
    border: none;
    box-shadow: none;
}
#accordion .card-light .card-body .card-info h5{
    line-height: 110%;
    letter-spacing: -0.18px;
    margin-bottom: 12px;
}
#accordion .card-light .card-body .img{
    position: relative;
    top: -12px;
}

.navbar-dark {
    background-color: #343a40 !important;
}
.lang_tel{
    display: flex;
    align-items: center;
}
.phone_header {
    text-align: right;
    line-height: initial;
    margin-right: 20px;
}
.phone_header p{
    margin: 0;
}
.phone_header .zag{
    font-size: 12px;
    font-weight: 700;
}
.phone_header .time_work{
    font-size: 12px;
    color: #E3000F;
}
.phone_header a{
    font-size: 20px;
    color: #31313C;
    text-decoration: none;
}
.phone_header a img{
    display: none;
}
input#search {
    border-radius: 5.5px;
    border: 1.1px solid rgba(102, 102, 102, 0.30);
    color: var(--666666, #666);
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 13px 14px;
    min-width: 600px;
    max-width: 100%;
}
input#search:focus-visible {
    outline: none;
}

.dropbtn {
    padding: 5px;
    cursor: pointer;
}
.dropdown {
    position: relative;
    display: inline-block;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid rgba(102, 102, 102, 0.30);
}
.dropdown img{
    margin-right: 5px;
    position: relative;
    top: -3px;
}
.dropdown-content {
    display: none;
    position: absolute;
    width: 70px;
}

.dropdown-background a:hover {
    background-color: #f1f1f1
}

.dropdown button{
    padding: 0;
}
.dropdown button.btn, .dropdown button.btn:focus{
    box-shadow: none;
}
.dropdown-menu{
    min-width: 97px;
    padding: 0;
}
.dropdown-menu span, .dropdown-menu a{
    display: block;
    padding: 12px 10px;
}

.dropbtn::after {
    background: rgba(0, 0, 0, 0) url("../img/ic_keyboard_arrow_down_48px-16.png") no-repeat scroll center center;
    content: "";
    height: 16px;
    position: absolute;
    right: -20px;
    top: 7px;
    width: 16px;
    filter: invert(1);
}

.dropdown-content a:nth-child(1){
    background: url('../img//Russia-Flag-icon.png') no-repeat left center;
}
.dropdown-content a:nth-child(2){
    background: url('../img/flag-great-britain-icon.png') no-repeat left center;
}

.dropdown-content a {
    color: black;
    padding: 2px 0 2px 25px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
    display: block;
    padding: 0px 10px 5px 10px;
    background-color: white;
}

footer{
    background: #fff;
    text-align: center;
}
footer #copyright-footer{
    padding: 40px 0px;
    color: var(--585-c-66, #585C66);
    line-height: normal;
}
/*@media (max-width: 1370px){
    #accordion .card-light .card-body.detail_wrapper .card-light-title > a{
        font-size: 16px;
    }
}
@media (max-width: 1300px){
    #accordion .card-light .card-body img.icon_category {
        margin-right: 10px;
    }
}*/
@media (max-width:1400px){
    .phone_header a {
        font-size: 16px;
    }
    .phone_header .time_work, .phone_header .zag {
        font-size: 9px;
    }
}
@media (max-width:1350px){
    .phone_header a img {
        display: block;
        width: 22px;
    }
    .phone_header .time_work, .phone_header .zag, .phone_header a span {
        display: none;
    }
    nav.navbar .phone_header .merhelp_file {
        top: -7px;
    }
}
@media (max-width:1250px){
    .navbar-brand-title {
        margin-left: 4px;
    }
    .search_wrapper, nav .search_wrapper #ya-site-form0 .ya-site-form__form .ya-site-form__search-input-layout-l input.ya-site-form__input-text {
        max-width: 480px;
        min-width: 480px;
    }
}
@media (max-width:1174px){
    .navbar-light .navbar-brand{
        order: 1;
    }
    .navbar-light .search_wrapper{
        order: 3;
        margin: 33px auto 0 auto;
    }
    .lang_tel, .navbar-light .dropdown{
        order: 2;
    }
    .search_wrapper, nav .search_wrapper #ya-site-form0 .ya-site-form__form .ya-site-form__search-input-layout-l input.ya-site-form__input-text {
        max-width: 600px;
        min-width: 600px;
    }
}
@media (max-width: 1076px){
    nav > .dropdown{
        display: none;
    }
    /*.search_wrapper {
        max-width: 100%;
    }*/
    .navbar-light .navbar-brand{
        width: 70%;
        justify-content: center;
        margin-bottom: 0;
    }
    .navbar-light .navbar-brand {
        width: auto;
    }
    .navbar-light .dropdown{
        display: none;
    }
    nav.navbar .phone_header .merhelp_file{
        display: none;
    }
}
@media (max-width: 850px){
    #accordion .card-body{
        flex-wrap: wrap;
        justify-content: center;
    }
    #accordion .card-body h5.card-title.d-inline-block, #accordion .card-body .description_tab{
        width: 100%;
        text-align: center;
    }
    #accordion .card-body h5.card-title.d-inline-block{
        margin-bottom: 15px;
        margin-right: 0;
    }
    .search_wrapper, nav .search_wrapper #ya-site-form0 .ya-site-form__form .ya-site-form__search-input-layout-l input.ya-site-form__input-text {
        max-width: 100%;
        min-width: 100%;
    }
}
@media (max-width: 600px){
    body > .container-fluid{
        padding-left: 15px !important;
        padding-right: 15px !important;
    }
}
@media (max-width: 490px){
    .navbar-brand-title{
        display: none;
    }
}
@media (max-width: 400px){
    .navbar-brand-title {
        margin-left: 10px;
    }
    nav.navbar {
        padding: 15px 0;
        padding-left: 15px !important;
        padding-right: 15px !important;
    }
    .navbar-light .navbar-brand {
        margin-right: 0 !important;
    }
}